.country-chips-row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  color: $gray-dark;
  font-size: 1.2rem;

  & > * {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
