.search-destination {
  width: 38rem;
  position: relative;

  &__icon-search {
    position: absolute;
    top: 1.4rem;
    right: 2rem;
  }

  &__input-search {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    padding-left: 2rem;
    height: 4rem;
    font-size: 1.2rem;
    color: black;

    &::placeholder {
      color: $gray-dark;
      font-size: 1.2rem;
    }

    &:focus {
      outline: none;
    }

    &--menu-closed {
      border-radius: 1rem;
    }

    &--menu-open {
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__list {
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-top: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  &__list-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 4rem;
    padding-left: 1.8rem;

    &:last-child {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #d9d9d9;
    }

    &--highlighted {
      background-color: $gray-light;
      font-weight: bold;
    }
  }

  &__list-item-flag {
    width: 2rem;
    margin-right: 1.2rem;
  }

  &__list-item-text {
    font-size: 1.2rem;
    color: black;

    mark {
      background-color: transparent;
      font-style: normal;
    }

    &--highlighted {
      font-weight: bold !important;
    }

    &--remove-default-highlight {
      font-weight: 400;
    }
  }
}
