.start-new-trip {
  padding: 4rem 0;
  background-image: url(../../assets/svg/aircraft.svg);
  background-position: right 2rem;
  background-size: 24rem 15.2rem;
  background-repeat: no-repeat;

  &__title {
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 4rem;
  }

  &__search-bar {
    margin-bottom: 2rem;
  }
}
