.u-margin-right-small {
  margin-right: 1rem;
}

.u-separator {
  &-left {
    border-left: 1px solid $gray-separator;
  }
  &-bottom {
    border-bottom: 1px solid $gray-separator;
  }
}

.u-padding {
  &-right {
    &-big {
      padding-right: 4rem;
    }

    &-medium {
      padding-right: 2rem;
    }

    &-small {
      padding-right: 1rem;
    }
  }

  &-left {
    &-big {
      padding-left: 4rem;
    }

    &-medium {
      padding-left: 2rem;
    }

    &-small {
      padding-left: 1rem;
    }
  }
}

