.menu {
  &__link-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__link-title {
    margin-left: 1rem;
    color: $gray-dark;
    flex-grow: 1;

    &:first-letter {
      text-transform: capitalize;
    }
  }
}
